*.dylib
*.la
*.lo
*.o
*~
.DS_Store
.deps/
.dirstamp
.hdf
.libs/
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configs/
/configure
/depcomp
/hostfs/
/install-sh
/libtool
/ltmain.sh
/missing
/roms/
HardImage*
Makefile
Makefile.in
arc.cfg
arclog.txt
arculator
modules.dmp
